{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    warnings_as_errors
]}.

{deps, [
    {lager, "3.8.1"},
    {observer_cli, "1.6.0"},
    {blockchain, {git, "https://github.com/helium/blockchain-core.git", {branch, "master"}}}
]}.

{plugins, [rebar3_format, erlfmt]}.

{format, [
    {files, [
        "src/**/*.erl",
        "include/*.hrl",
        "packet_purchaser.app.src",
        "test/**/*.erl",
        "test/**/*.hrl",
        "config/sys.config",
        "config/sys.config.src"
    ]},
    {ignore, []},
    {formatter, erlfmt_formatter},
    {options, #{print_width => 100, ignore_pragma => true}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used
]}.

{relx, [
    {release, {"packet_purchaser", "1.0.0"}, [packet_purchaser]},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"},
    {sys_config_src, "config/sys.config.src"},
    {extended_start_script, true},
    {include_src, true}
]}.
