[
    {packet_purchaser, [
        {oui, 1},
        {pp_udp_worker, [{address, "127.0.0.1"}, {port, 1700}]},
        {pp_xor_filter_worker, false},
        {pp_integration, pp_integration_chirpstack},
        {pp_integration_chirpstack, [
            {endpoint, "http://localhost:8080"},
            {app_id, "1"},
            {api_key, "XXX"},
            {app_eui, "0000000000000000"}
        ]}
    ]},
    {blockchain, [
        {port, 2154},
        {seed_nodes, "/ip4/35.166.211.46/tcp/2154,/ip4/44.236.95.167/tcp/2154"},
        {base_dir, "/var/data"},
        {update_dir, "update"},
        {honor_quick_sync, true},
        {quick_sync_mode, blessed_snapshot},
        {blessed_snapshot_block_height, 796321},
        {blessed_snapshot_block_hash,
            <<87, 114, 184, 61, 46, 56, 30, 199, 91, 120, 96, 142, 45, 46, 121, 203, 28, 202, 253,
                126, 205, 120, 12, 208, 14, 59, 144, 15, 104, 210, 246, 217>>},
        {sc_packet_handler, pp_sc_packet_handler}
    ]},
    {libp2p, [{max_tcp_connections, 50000}]},
    {lager, [
        {suppress_supervisor_start_stop, true},
        {log_root, "/var/data/log"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_console_backend, [
                {level, warning},
                {formatter_config, [
                    "[",
                    date,
                    " ",
                    time,
                    "] ",
                    pid,
                    " [",
                    severity,
                    "]",
                    {gateway_id, [" [", gateway_id, "]"], ""},
                    " [",
                    {module, ""},
                    {function, [":", function], ""},
                    {line, [":", line], ""},
                    "] ",
                    message,
                    "\n"
                ]}
            ]},
            {lager_file_backend, [
                {file, "packet_purchaser.log"},
                {level, warning},
                {size, 0},
                {date, "$D0"},
                {count, 7},
                {formatter_config, [
                    "[",
                    date,
                    " ",
                    time,
                    "] ",
                    pid,
                    " [",
                    severity,
                    "]",
                    {gateway_id, [" [", gateway_id, "]"], ""},
                    " [",
                    {module, ""},
                    {function, [":", function], ""},
                    {line, [":", line], ""},
                    "] ",
                    message,
                    "\n"
                ]}
            ]}
        ]},
        {traces, [
            {lager_console_backend, [{application, packet_purchaser}], debug},
            {lager_console_backend, [{module, pp_sc_packet_handler}], debug},
            {{lager_file_backend, "packet_purchaser.log"}, [{application, packet_purchaser}],
                debug},
            {{lager_file_backend, "packet_purchaser.log"}, [{module, pp_sc_packet_handler}], debug}
        ]}
    ]}
].
