[
    {packet_purchaser, [
        {oui, 1},
        {pp_udp_worker, [{address, "127.0.0.1"}, {port, 1700}]},
        {pp_xor_filter_worker, false},
        {pp_integration, pp_integration_chirpstack},
        {pp_integration_chirpstack, [
            {endpoint, "http://localhost:8080"},
            {app_id, "1"},
            {api_key, "XXX"},
            {app_eui, "0000000000000000"}
        ]},
        {pp_console_api, [
            {endpoint, <<>>},
            {ws_endpoint, <<>>},
            {secret, <<>>},
            {is_active, false}
        ]},
        {sc_open_dc_amount, 100},
        {sc_expiration_interval, 25},
        {sc_expiration_buffer, 15},
        {pp_metrics_file, "/var/data/pp_metrics.dat"},
        {pp_routing_config_file, "/var/data/routing_config.json"}
    ]},
    {blockchain, [
        {port, 2154},
        {seed_nodes, "/ip4/35.166.211.46/tcp/2154,/ip4/44.236.95.167/tcp/2154"},
        {base_dir, "/var/data"},
        {update_dir, "update"},
        {snap_source_base_url, "https://snapshots.helium.wtf/mainnet"},
        {fetch_latest_from_snap_source, true},
        {honor_quick_sync, true},
        {quick_sync_mode, blessed_snapshot},
        {blessed_snapshot_block_height, 1107361},
        {blessed_snapshot_block_hash,
            <<102, 50, 130, 227, 158, 34, 222, 243, 63, 229, 79, 170, 9, 0, 55, 18, 178, 248, 162,
                90, 67, 227, 209, 88, 69, 26, 24, 196, 243, 78, 117, 203>>},
        {sc_packet_handler, pp_sc_packet_handler},
        {disable_gateway_cache, true},
        {gw_cache_retention_limit, 0},
        {gw_context_cache_max_size, 0},
        {sc_sup_type, server}
    ]},
    {libp2p, [{max_tcp_connections, 50000}]},
    {prometheus, [
        {collectors, [
            prometheus_boolean,
            prometheus_counter,
            prometheus_gauge,
            prometheus_histogram,
            prometheus_vm_memory_collector,
            prometheus_vm_system_info_collector
        ]},
        {vm_system_info_collector_metrics, [process_count]}
    ]},
    {lager, [
        {suppress_supervisor_start_stop, true},
        {log_root, "/var/data/log"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_file_backend, [
                {file, "packet_purchaser.log"},
                {level, warning},
                {size, 1000000000},
                {date, "$D0"},
                {count, 15},
                {formatter_config, [
                    "[",
                    date,
                    " ",
                    time,
                    "] ",
                    pid,
                    " [",
                    severity,
                    "]",
                    {gateway_id, [" [", gateway_id, "]"], ""},
                    " [",
                    {module, ""},
                    {function, [":", function], ""},
                    {line, [":", line], ""},
                    "] ",
                    message,
                    "\n"
                ]}
            ]}
        ]},
        {traces, [
            {{lager_file_backend, "packet_purchaser.log"}, [{application, packet_purchaser}], info},
            {{lager_file_backend, "packet_purchaser.log"}, [{module, pp_sc_packet_handler}], info}
        ]}
    ]}
].
